// Place all the styles related to the RealTimeDisplays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    text-align: center;
    font-size: 50px;
}

#ratio-charts {
    vertical-align: middle;
    height: 100%;
}

#trump-ratio-chart {
    display: inline-block;
}

#vs-text {
    display: inline-block;
    vertical-align:middle;
    horizontal-align:middle;
     width:500px;
}

#hillary-ratio-chart {
    display: inline-block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
#vs-header{
    text-align: center;
    font-size: 70px;
}