// Place all the styles related to the RealTimeDisplays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    text-align: center;
    font-size: 50px;
}

#ratio-chart {
    /*display: inline-block;
    width: 40%;
    margin:0 auto;*/
    text-align: center;
}

#trump-ratio-chart {
    display: inline-block;
}

#vs-text {
    display: inline-block;
}

#hillary-ratio-chart {
    display: inline-block;
}

#trump-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hillary-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}