// Place all the styles related to the RealTimeDisplays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    text-align: center;
    font-size: 50px;
}

#trump-ratio-chart {
    display: inline-block;
}

#vs-text {
    position: absolute;
    top: 70%;
     display: inline-block;
     margin-left: -2%;
}

#hillary-ratio-chart {
    display: inline-block;
}

#trump-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hillary-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}