%h1 Listing real_time_displays

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @real_time_displays.each do |real_time_display|
      %tr
        %td= link_to 'Show', real_time_display
        %td= link_to 'Edit', edit_real_time_display_path(real_time_display)
        %td= link_to 'Destroy', real_time_display, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Real time display', new_real_time_display_path
