%h1 Twitter Bicker
#ratio-chart
  #trump-ratio-chart
    = image_tag("trump_dropping_knowledge.png", :alt => "rss feed", width: '200', height: '200')
    %canvas{id: 'ratio-chart-trump', width: '400', height: '400'}
  #hillary-ratio-chart
    = image_tag("hillary_happy.png", :alt => "rss feed", width: '200', height: '200')
    %canvas{id: 'ratio-chart-hillary', width: '400', height: '400'}