//%script{src:"https://d3js.org/d3.v4.min.js"}
%h1 Twitter Bicker
#tabs
  %ul.tab
    %li
      %a{href: "javascript:changeTab('Ratio')", class: "tablinks"} Ratio
    %li
      %a{href: "javascript:changeTab('Radar')", class: "tablinks"} Radar
    %li
      %a{href: "javascript:changeTab('WordMap')", class: "tablinks"} Word Map



#ratio-charts{style: "display:block", align: "center"}
  %blockquote{class:'twitter-tweet', data_lang:'en'}
    %h3 Angriest Tweet So Far
    %p{lang: "en", dir: "ltr"}
      "
      %span#tweet
      " &mdash;
      %span#user
  %table
    %tbody
      %tr
        %td
          #trump-ratio-chart
            = image_tag("trump_dropping_knowledge.png", id: 'trump-img', :alt => "rss feed", width: '150', height: '150')
            %canvas{id: 'ratio-chart-trump', width: '200', height: '300'}
        %td
          #vs-text
            %h2#vs-header V.S.
        %td
          #hillary-ratio-chart
            = image_tag("hillary_happy.png", id: 'hillary-img', :alt => "rss feed", width: '150', height: '150')
            %canvas{id: 'ratio-chart-hillary', width: '200', height: '300'}
    

#radar-chart{align: "center", style: "display:none"}
  %canvas{id: 'radar-chart-trump-hillary'}
  
#word-map{width: '400', height: '400', style: "display:none"}
